<h1>New annotation</h1>

<% form_for(@annotation) do |f| %>
    <%= f.text_field :annotatable_type %>
    <%= f.text_field :annotatable_id %>
    <%= f.text_field :attribute_id %>


    <p>
      <%= f.submit "Create" %>
    </p>
<% end %>

<%= link_to 'Back', annotations_path %>